@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

/** CSS BOILER PLATE START **/
* {
  box-sizing: border-box
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, sans-serif;
  /* Ensures full height compatibility across devices */
  min-height: 100dvh;
  margin: 0;
}

/** CSS BOILER PLATE END **/


* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: Playwrite+GB+S, Danfo, sans-serif;
}

h1 {
  text-align: center;
}

/* input[type=number]{
  border: 3px solid red;
} */

input[type=number]:hover{
  border: 3px solid green;
  transition: border 1s;
}

ul.top-level-list:hover {
  cursor: pointer;
}
#comments-title::first-letter {
  font-size: 60px;
}

.top-level-list > li {
  border: 1px solid orange;
}

div + div {
  color: green
}

input ~ input {
  border: 1px solid red
}
/* Set the width of an element to the entire width of the viewport */
div {
  width: 100vw;
}

/* Set the font size of an element to 2 times the root font size */
p {
  font-size: 2rem;
}

/* Set the margin of an element to 10% of its container element */
input {
  margin: 10%;
}

div {
  /* div takes up full height of the container element */
  height: 100%;
  /* min-height specifies that the div will be at minimum 10rem tall */ 
  min-height: 10rem; 
}

/* makes comment 1-3 all red */
ul {
  color : red; /* all child elements will have red text */
}

/* initial overrides inherited attributes */
li {
  margin: 5px 0 0 0;
  color: initial; /* will not inherit red text color from parent */
}
