body {
    background-color: lightsalmon;
    margin: 0px;
    font-family: system-ui, sans-serif;
  }
  
  /* Mobile first design increasing min-widths (example right here) */
  /* Other method (not as popular) deskktop first design decreasing max-widths */
@media(min-width: 600px){
    body{
        background-color: lightgreen;
    }
}

@media(min-width: 800px){
    body {
        background-color: burlywood;
    }
}

/* @media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-color: brown;
    }
} */


nav {
    font-size: 18px;
    background-color: white;
    padding:  0 16px;
}

#destinations {
    display: none;
}

@media (min-width: 550px) {
    #destinations {
        display: flex;
        gap: 16px;
    }
    #destinations-mobile {
        display: none;
    }
}